{% extends 'base.html'%}

{% block title %}
Главная страница
{% endblock %}

{% block body%}
<h1>Кратко о там что будет на этом сайте</h1>
<p>На этом сайте будут размещаться посты по написанию телеграм бота</p>
<h3>Что нам нужно для начала?</h3>
<p>1)Чтобы начать разрабатывать бота нам нужно скачать и устанвить <a href="https://www.python.org/downloads/">Python</a></p>
<p>2)Необходимо скачать любую среду разработки, но рекомендовано использовать <a href="https://www.jetbrains.com/pycharm/download/#section=windows">PyCharm<a/></p>
<p>3)Нам нужны небольшие знания Python, куда же без них и библиотека telebot</p>
<p>4)Далее в Telegram нужно написать боту <a href="https://t.me/BotFather">BotFather</a> и получить токен нашего бота </p>
<p>5)Нужно установить библиотеку для этого в PyCharm нужно открыть терменал и прописать там pip install pytelegrambotapi или pip3 install pytelegrambotapi </p>
<p>6)И наконец включить голову, не лениться и открыть <a href="http://127.0.0.1:5000/posts">статьи</a> и следить сколько полезной инфы там есть </p>

{% endblock %}